# Preparing files/directories for demo1

If this is the first time that you are using DeezyMatch, you can safely skip this notebook and go to notebook: `demo1`.

## Generate query vectors

In [2]:
from DeezyMatch import inference as dm_inference

# generate vectors for queries (specified in dataset_path) 
# using a model stored at pretrained_model_path and pretrained_vocab_path 
dm_inference(input_file_path="../../models/wikigaz_en_brit/input_dfm_brit.yaml",
             dataset_path="../../query_scenarios/ukcounties_queries.txt", 
             pretrained_model_path="../../models/wikigaz_en_brit/wikigaz_en_brit.model", 
             pretrained_vocab_path="../../models/wikigaz_en_brit/wikigaz_en_brit.vocab",
             inference_mode="vect",
             scenario="queries/demo1")

2020-12-07 08:40:08 MAC-ATI0414 [INFO] read input file: ../../models/wikigaz_en_brit/input_dfm_brit.yaml
2020-12-07 08:40:08 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 08:40:08 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 08:40:09 MAC-ATI0414 [INFO] read CSV file: ../../query_scenarios/ukcounties_queries.txt
2020-12-07 08:40:09 MAC-ATI0414 [INFO] number of labels, True: 0 and False: 35
2020-12-07 08:40:09 MAC-ATI0414 [INFO] skipping 0 lines
2020-12-07 08:40:09 MAC-ATI0414 [INFO] save test-data-class: /Users/khosseini/myJobs/ATI/Projects/2019/LaNC-workshop/deezymatch/demos/demo1_candidate_ranker/queries/demo1/dataframe.df

HBox(children=(FloatProgress(value=0.0, max=2.0), HTML(value='')))

--- 0.19751691818237305 seconds ---

## Generate candidate vectors

In [3]:
from DeezyMatch import inference as dm_inference

# generate vectors for candidates (specified in dataset_path) 
# using a model stored at pretrained_model_path and pretrained_vocab_path 
dm_inference(input_file_path="../../models/wikigaz_en_brit/input_dfm_brit.yaml",
             dataset_path="../../candidate_scenarios/ukcounties_candidates.txt", 
             pretrained_model_path="../../models/wikigaz_en_brit/wikigaz_en_brit.model", 
             pretrained_vocab_path="../../models/wikigaz_en_brit/wikigaz_en_brit.vocab",
             inference_mode="vect",
             scenario="candidates/demo1")

2020-12-07 08:40:52 MAC-ATI0414 [INFO] read input file: ../../models/wikigaz_en_brit/input_dfm_brit.yaml
2020-12-07 08:40:52 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 08:40:52 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 08:40:52 MAC-ATI0414 [INFO] read CSV file: ../../candidate_scenarios/ukcounties_candidates.txt
2020-12-07 08:40:52 MAC-ATI0414 [INFO] number of labels, True: 0 and False: 94
2020-12-07 08:40:52 MAC-ATI0414 [INFO] skipping 0 lines
2020-12-07 08:40:52 MAC-ATI0414 [INFO] save test-data-class: /Users/khosseini/myJobs/ATI/Projects/2019/LaNC-workshop/deezymatch/demos/demo1_candidate_ranker/candidates/demo1/dataframe.df

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

--- 0.1686251163482666 seconds ---

## Assembling queries and candidates vector representations¶

In [4]:
from DeezyMatch import combine_vecs

# combine vectors and save them in combined/candidates_test
combine_vecs(rnn_passes=['fwd', 'bwd'], 
             input_scenario='queries/demo1', 
             output_scenario='combined/queries_demo1', 
             print_every=10)

2020-12-07 08:41:57 MAC-ATI0414 [INFO] read input file: queries/demo1/input_dfm_brit.yaml
2020-12-07 08:41:57 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 08:41:57 MAC-ATI0414 [INFO] pytorch will use: cpu


-- Combine vectors
Reading vectors from queries/demo1/embeddings/rnn_fwd*
0000000 queries/demo1/embeddings/rnn_fwd_0


-- Combine IDs
0000000 queries/demo1/embeddings/rnn_indxs_0



-- Combine vectors
Reading vectors from queries/demo1/embeddings/rnn_bwd*
0000000 queries/demo1/embeddings/rnn_bwd_0


-- Combine IDs
0000000 queries/demo1/embeddings/rnn_indxs_0

--- 108.47477197647095 seconds ---

In [5]:
from DeezyMatch import combine_vecs

# combine vectors and save them in combined/candidates_test
combine_vecs(rnn_passes=['fwd', 'bwd'], 
             input_scenario='candidates/demo1', 
             output_scenario='combined/candidates_demo1', 
             print_every=10)

2020-12-07 08:42:09 MAC-ATI0414 [INFO] read input file: candidates/demo1/input_dfm_brit.yaml
2020-12-07 08:42:09 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 08:42:09 MAC-ATI0414 [INFO] pytorch will use: cpu


-- Combine vectors
Reading vectors from candidates/demo1/embeddings/rnn_fwd*
0000000 candidates/demo1/embeddings/rnn_fwd_0


-- Combine IDs
0000000 candidates/demo1/embeddings/rnn_indxs_0



-- Combine vectors
Reading vectors from candidates/demo1/embeddings/rnn_bwd*
0000000 candidates/demo1/embeddings/rnn_bwd_0


-- Combine IDs
0000000 candidates/demo1/embeddings/rnn_indxs_0

--- 120.8360698223114 seconds ---

## Candidate Ranker

In [7]:
from DeezyMatch import candidate_ranker

# Select candidates based on L2-norm distance (aka faiss distance):
# find candidates from candidate_scenario 
# for queries specified in query_scenario
candidates_pd = \
    candidate_ranker(query_scenario="./combined/queries_demo1",
                     candidate_scenario="./combined/candidates_demo1", 
                     ranking_metric="faiss", 
                     selection_threshold=100., 
                     num_candidates=5, 
                     search_size=5, 
                     output_path="ranker_results/candidates_deezymatch_demo1", 
                     pretrained_model_path="../../models/wikigaz_en_brit/wikigaz_en_brit.model", 
                     pretrained_vocab_path="../../models/wikigaz_en_brit/wikigaz_en_brit.vocab")

2020-12-07 08:44:17 MAC-ATI0414 [INFO] read input file: ./combined/candidates_demo1/input_dfm_brit.yaml
2020-12-07 08:44:17 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 08:44:17 MAC-ATI0414 [INFO] pytorch will use: cpu
Is faiss_id_candis already trained? True
=========== Start the search for 0 E Ayrshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 1/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 1 North Lanarcshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 2/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 2 N. Yorksh

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 3/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 3 N.amptonshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 4/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 4 Northumbld

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 5/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 5 Northumberl

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 6/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 6 Nottingham shire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 7/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 7 Orkneys

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 8/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 8 Pembrockshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 9/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 9 Perth&Kinross

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 10/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 10 Perth-Kinross

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 11/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 11 Kinross

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 12/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 12 Radnorshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 13/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 13 Renfrew

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 14/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 14 Scot. Borders

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 15/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 15 Shetlands

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 16/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 16 Shrops

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 17/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 17 SOMERSUTSIIIIE

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 18/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 18 S Ayrshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 19/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 19 S. Lanarkshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 20/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 20 South Yorkshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 21/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 21 Staffordshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 22/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 22 Sterling

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 23/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 23 Suffolk

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 24/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 24 Suff

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 25/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 25 Surrey

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 26/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 26 Surr

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 27/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 27 Tyne & Wear

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 28/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 28 Tyron

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 29/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 29 Warwicksh

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 30/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 30 W Berkshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 31/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 31 Wiltsh

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 32/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 32 Worchestershire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 33/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 33 Worcs

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 34/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 34 Tyne

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 35/35 -- Number of found candidates so far: 5, searched: 5
TOTAL TIME: 2.7938597202301025

In [8]:
candidates_pd

,query,pred_score,1-pred_score,faiss_distance,cosine_dist,candidate_original_ids,query_original_id,num_all_searches
id,,,,,,,,
0,E Ayrshire,"{'East Ayrshire': 0.9057, 'South Ayrshire': 0....","{'East Ayrshire': 0.09430000000000005, 'South ...","{'East Ayrshire': 6.9775, 'South Ayrshire': 8....","{'East Ayrshire': 0.0998, 'South Ayrshire': 0....","{'East Ayrshire': 64, 'South Ayrshire': 83, 'L...",0,5
1,North Lanarcshire,"{'North Lanarkshire': 0.9776, 'North Ayrshire'...","{'North Lanarkshire': 0.022399999999999975, 'N...","{'North Lanarkshire': 2.8741, 'North Ayrshire'...","{'North Lanarkshire': 0.0443, 'North Ayrshire'...","{'North Lanarkshire': 77, 'North Ayrshire': 76...",1,5
2,N. Yorksh,"{'North Yorkshire': 0.9019, 'South Yorkshire':...","{'North Yorkshire': 0.09809999999999997, 'Sout...","{'North Yorkshire': 8.5669, 'South Yorkshire':...","{'North Yorkshire': 0.1352, 'South Yorkshire':...","{'North Yorkshire': 24, 'South Yorkshire': 31,...",2,5
3,N.amptonshire,"{'Northamptonshire': 0.6901, 'Monmouthshire': ...","{'Northamptonshire': 0.30989999999999995, 'Mon...","{'Northamptonshire': 13.3225, 'Monmouthshire':...","{'Northamptonshire': 0.2228, 'Monmouthshire': ...","{'Northamptonshire': 25, 'Monmouthshire': 46, ...",3,5
4,Northumbld,"{'Northumberland': 0.7131, 'Norfolk': 0.3142, ...","{'Northumberland': 0.28690000000000004, 'Norfo...","{'Northumberland': 18.7103, 'Norfolk': 25.93, ...","{'Northumberland': 0.3622, 'Norfolk': 0.4085, ...","{'Northumberland': 26, 'Norfolk': 23, 'Antrim'...",4,5
5,Northumberl,"{'Northumberland': 0.8548, 'Antrim': 0.6776, '...","{'Northumberland': 0.1452, 'Antrim': 0.3224, '...","{'Northumberland': 9.1898, 'Antrim': 27.7713, ...","{'Northumberland': 0.1627, 'Antrim': 0.5933, '...","{'Northumberland': 26, 'Antrim': 88, 'Cornwall...",5,5
6,Nottingham shire,"{'Nottinghamshire': 0.9879, 'Antrim': 0.7528, ...","{'Nottinghamshire': 0.0121, 'Antrim': 0.247199...","{'Nottinghamshire': 2.0679, 'Antrim': 19.4746,...","{'Nottinghamshire': 0.0327, 'Antrim': 0.4139, ...","{'Nottinghamshire': 27, 'Antrim': 88, 'Kent': ...",6,5
7,Orkneys,"{'Orkney Islands': 0.9698, 'Merionethshire': 0...","{'Orkney Islands': 0.030200000000000005, 'Meri...","{'Orkney Islands': 4.5361, 'Merionethshire': 2...","{'Orkney Islands': 0.0782, 'Merionethshire': 0...","{'Orkney Islands': 78, 'Merionethshire': 45, '...",7,5
8,Pembrockshire,"{'Pembrokeshire': 0.9744, 'West Berkshire': 0....","{'Pembrokeshire': 0.025599999999999956, 'West ...","{'Pembrokeshire': 2.6769, 'West Berkshire': 18...","{'Pembrokeshire': 0.0387, 'West Berkshire': 0....","{'Pembrokeshire': 48, 'West Berkshire': 37, 'B...",8,5
9,Perth&Kinross,"{'Perth and Kinross': 0.718, 'Wiltshire': 0.32...","{'Perth and Kinross': 0.28200000000000003, 'Wi...","{'Perth and Kinross': 15.4106, 'Wiltshire': 15...","{'Perth and Kinross': 0.3792, 'Wiltshire': 0.4...","{'Perth and Kinross': 79, 'Wiltshire': 41, 'Fe...",9,5
10,Perth-Kinross,"{'Perth and Kinross': 0.9001, 'Wiltshire': 0.2...","{'Perth and Kinross': 0.09989999999999999, 'Wi...","{'Perth and Kinross': 8.3341, 'Wiltshire': 15....","{'Perth and Kinross': 0.2078, 'Wiltshire': 0.4...","{'Perth and Kinross': 79, 'Wiltshire': 41, 'St...",10,5
11,Kinross,"{'Angus': 0.8597, 'Perth and Kinross': 0.4612,...","{'Angus': 0.14029999999999998, 'Perth and Kinr...","{'Angus': 13.7481, 'Perth and Kinross': 16.745...","{'Angus': 0.4149, 'Perth and Kinross': 0.4174,...","{'Angus': 58, 'Perth and Kinross': 79, 'West S...",11,5
12,Radnorshire,"{'Radnorshire': 0.946, 'Derry and Londonderry'...","{'Radnorshire': 0.05400000000000005, 'Derry an...","{'Radnorshire': 0.0, 'Derry and Londonderry': ...","{'Radnorshire': 0.0, 'Derry and Londonderry': ...","{'Radnorshire': 49, 'Derry and Londonderry': 9...",12,5
13,Renfrew,"{'Renfrewshire': 0.8605, 'Pembrokeshire': 0.23...","{'Renfrewshire': 0.13949999999999996, 'Pembrok...","{'Renfrewshire': 14.2853, 'Pembrokeshire': 22....","{'Renfrewshire': 0.2231, 'Pembrokeshire': 0.34...","{'Renfrewshire': 80, 'Pembrokeshire': 48, 'Wil...",13,5
14,Scot. Borders,"{'Scottish Borders': 0.9206, 'Dorset': 0.0446,...","{'Scottish Borders': 0.07940000000000003, 'Dor...","{'Scottish Borders': 5.9288, 'Dorset': 15.2653...","{'Scottish Borders': 0.0887, 'Dorset': 0.2806,...","{'Scottish Borders': 81, 'Dorset': 9, 'West Be...",14,5
15,Shetlands,"{'Shetland Islands': 0.9646, 'East Sussex': 0....","{'Shetland Islands': 0.03539999999999999, 'Eas...","{'Shetland Islands': 1.4292, 'East Sussex': 10...","{'Shetland Islands': 0.0292, 'East Sussex': 0....","{'Shetland Islands': 82, 'East Sussex': 11, 'E...",15,5
16,Shrops,"{'Shropshire': 0.4523, 'Somerset': 0.2738, 'Do...","{'Shropshire': 0.5477000000000001, 'Somerset':...","{'Shropshire': 8.1773, 'Somerset': 12.9459, 'D...","{'Shropshire': 0.146, 'Somerset': 0.2646, 'Dor...","{'Shropshire': 29, 'Somerset': 30, 'Dorset': 9...",16,5
17,SOMERSUTSIIIIE,"{'Somerset': 0.6633, 'Dorset': 0.0083, 'Scotti...","{'Somerset': 0.3367, 'Dorset': 0.9917, 'Scotti...","{'Somerset': 5.3295, 'Dorset': 15.2608, 'Scott...","{'Somerset': 0.1038, 'Dorset': 0.3204, 'Scotti...","{'Somerset': 30, 'Dorset': 9, 'Scottish Border...",17,5
18,S Ayrshire,"{'South Ayrshire': 0.8689, 'East Ayrshire': 0....","{'South Ayrshire': 0.1311, 'East Ayrshire': 0....","{'South Ayrshire': 3.8336, 'East Ayrshire': 5....","{'South Ayrshire': 0.0589, 'East Ayrshire': 0....","{'South Ayrshire': 83, 'East Ayrshire': 64, 'S...",18,5
19,S. Lanarkshire,"{'South Lanarkshire': 0.871, 'South Ayrshire':...","{'South Lanarkshire': 0.129, 'South Ayrshire':...","{'South Lanarkshire': 3.8001, 'South Ayrshire'...","{'South Lanarkshire': 0.0635, 'South Ayrshire'...","{'South Lanarkshire': 84, 'South Ayrshire': 83...",19,5
20,South Yorkshire,"{'South Yorkshire': 0.979, 'West Yorkshire': 0...","{'South Yorkshire': 0.02100000000000002, 'West...","{'South Yorkshire': 0.0, 'West Yorkshire': 6.4...","{'South Yorkshire': 0.0, 'West Yorkshire': 0.1...","{'South Yorkshire': 31, 'West Yorkshire': 40, ...",20,5
21,Staffordshire,"{'Staffordshire': 0.9717, 'Scottish Borders': ...","{'Staffordshire': 0.028299999999999992, 'Scott...","{'Staffordshire': 0.0, 'Scottish Borders': 27....","{'Staffordshire': 0.0, 'Scottish Borders': 0.3...","{'Staffordshire': 32, 'Scottish Borders': 81, ...",21,5
22,Sterling,"{'Stirling': 0.963, 'Antrim': 0.4679, 'Kent': ...","{'Stirling': 0.03700000000000003, 'Antrim': 0....","{'Stirling': 1.7116, 'Antrim': 17.0471, 'Kent'...","{'Stirling': 0.0464, 'Antrim': 0.4989, 'Kent':...","{'Stirling': 85, 'Antrim': 88, 'Kent': 18, 'Ty...",22,5
23,Suffolk,"{'Suffolk': 0.9614, 'Norfolk': 0.0046, 'Glasgo...","{'Suffolk': 0.03859999999999997, 'Norfolk': 0....","{'Suffolk': 0.0, 'Norfolk': 40.9484, 'Glasgow ...","{'Suffolk': -0.0, 'Norfolk': 0.554, 'Glasgow C...","{'Suffolk': 33, 'Norfolk': 23, 'Glasgow City':...",23,5
24,Suff,"{'Suffolk': 0.466, 'Fife': 0.0458, 'Angus': 0....","{'Suffolk': 0.534, 'Fife': 0.9542, 'Angus': 0....","{'Suffolk': 18.9209, 'Fife': 19.7081, 'Angus':...","{'Suffolk': 0.2958, 'Fife': 0.4629, 'Angus': 0...","{'Suffolk': 33, 'Fife': 70, 'Angus': 58, 'West...",24,5
25,Surrey,"{'Surrey': 0.9141, 'Shropshire': 0.695, 'South...","{'Surrey': 0.08589999999999998, 'Shropshire': ...","{'Surrey': 0.0, 'Shropshire': 12.222, 'South A...","{'Surrey': 0.0, 'Shropshire': 0.2062, 'South A...","{'Surrey': 34, 'Shropshire': 29, 'South Ayrshi...",25,5
26,Surr,"{'Surrey': 0.1365, 'Shropshire': 0.2523, 'Dors...","{'Surrey': 0.8634999999999999, 'Shropshire': 0...","{'Surrey': 9.8634, 'Shropshire': 12.3621, 'Dor...","{'Surrey': 0.1844, 'Shropshire': 0.2326, 'Dors...","{'Surrey': 34, 'Shropshire': 29, 'Dorset': 9, ...",26,5
27,Tyne & Wear,"{'Tyne and Wear': 0.9443, 'North Yorkshire': 0...","{'Tyne and Wear': 0.05569999999999997, 'North ...","{'Tyne and Wear': 5.4249, 'North Yorkshire': 1...","{'Tyne and Wear': 0.0965, 'North Yorkshire': 0...","{'Tyne and Wear': 35, 'North Yorkshire': 24, '...",27,5
28,Tyron,"{'Tyrone': 0.8978, 'Flintshire': 0.5581, 'Stir...","{'Tyrone': 0.10219999999999996, 'Flintshire': ...","{'Tyrone': 1.1959, 'Flintshire': 16.6245, 'Sti...","{'Tyrone': 0.0204, 'Flintshire': 0.3076, 'Stir...","{'Tyrone': 93, 'Flintshire': 43, 'Stirling': 8...",28,5
29,Warwicksh,"{'Warwickshire': 0.9068, 'Worcestershire': 0.0...","{'Warwickshire': 0.09319999999999995, 'Worcest...","{'Warwickshire': 5.4924, 'Worcestershire': 28....","{'Warwickshire': 0.0688, 'Worcestershire': 0.4...","{'Warwickshire': 36, 'Worcestershire': 42, 'Fa...",29,5
30,W Berkshire,"{'West Berkshire': 0.6569, 'Breconshire': 0.22...","{'West Berkshire': 0.34309999999999996, 'Breco...","{'West Berkshire': 9.8366, 'Breconshire': 12.8...","{'West Berkshire': 0.1514, 'Breconshire': 0.20...","{'West Berkshire': 37, 'Breconshire': 51, 'Bed...",30,5
31,Wiltsh,"{'Wiltshire': 0.5083, 'West Sussex': 0.7487, '...","{'Wiltshire': 0.4917, 'West Sussex': 0.2512999...","{'Wiltshire': 10.9897, 'West Sussex': 13.2182,...","{'Wiltshire': 0.35, 'West Sussex': 0.2862, 'We...","{'Wiltshire': 41, 'West Sussex': 39, 'West Lot...",31,5
32,Worchestershire,"{'Worcestershire': 0.9431, 'Oxfordshire': 0.48...","{'Worcestershire': 0.05689999999999995, 'Oxfor...","{'Worcestershire': 2.0587, 'Oxfordshire': 14.5...","{'Worcestershire': 0.0323, 'Oxfordshire': 0.21...","{'Worcestershire': 42, 'Oxfordshire': 28, 'Wes...",32,5
33,Worcs,"{'Worcestershire': 0.6672, 'Oxfordshire': 0.38...","{'Worcestershire': 0.3328, 'Oxfordshire': 0.61...","{'Worcestershire': 11.9511, 'Oxfordshire': 18....","{'Worcestershire': 0.2113, 'Oxfordshire': 0.30...","{'Worcestershire': 42, 'Oxfordshire': 28, 'Dor...",33,5
34,Tyne,"{'Kent': 0.6046, 'Tyrone': 0.305, 'Stirling': ...","{'Kent': 0.3954, 'Tyrone': 0.6950000000000001,...","{'Kent': 14.0715, 'Tyrone': 14.7303, 'Stirling...","{'Kent': 0.2789, 'Tyrone': 0.2622, 'Stirling':...","{'Kent': 18, 'Tyrone': 93, 'Stirling': 85, 'Ty...",34,5

## Candidate ranking on-the-fly

In [9]:
from DeezyMatch import candidate_ranker

# Ranking on-the-fly
# find candidates from candidate_scenario 
# for queries specified by the `query` argument
candidates_pd = \
    candidate_ranker(query=["london", "S. Ayrshire"],
                     candidate_scenario="./combined/candidates_demo1", 
                     ranking_metric="faiss", 
                     selection_threshold=100., 
                     num_candidates=5, 
                     search_size=5, 
                     output_path="ranker_results/candidates_deezymatch_demo1", 
                     pretrained_model_path="../../models/wikigaz_en_brit/wikigaz_en_brit.model", 
                     pretrained_vocab_path="../../models/wikigaz_en_brit/wikigaz_en_brit.vocab")

2020-12-07 08:45:36 MAC-ATI0414 [INFO] read input file: ./combined/candidates_demo1/input_dfm_brit.yaml
2020-12-07 08:45:36 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 08:45:36 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 08:45:36 MAC-ATI0414 [INFO] save test-data-class: tmp_668eca4f-3f55-4987-b657-e9e13371c31b/query/dataframe.df

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

-- Combine vectors
Reading vectors from tmp_668eca4f-3f55-4987-b657-e9e13371c31b/query/embeddings/rnn_fwd*
0000000 tmp_668eca4f-3f55-4987-b657-e9e13371c31b/query/embeddings/rnn_fwd_0


-- Combine IDs
0000000 tmp_668eca4f-3f55-4987-b657-e9e13371c31b/query/embeddings/rnn_indxs_0



-- Combine vectors
Reading vectors from tmp_668eca4f-3f55-4987-b657-e9e13371c31b/query/embeddings/rnn_bwd*
0000000 tmp_668eca4f-3f55-4987-b657-e9e13371c31b/query/embeddings/rnn_bwd_0


-- Combine IDs
0000000 tmp_668eca4f-3f55-4987-b657-e9e13371c31b/query/embeddings/rnn_indxs_0

--- 327.4503140449524 seconds ---
Is faiss_id_candis already trained? True
=========== Start the search for 0 london

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 1/2 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 1 S. Ayrshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 2/2 -- Number of found candidates so far: 5, searched: 5
TOTAL TIME: 0.30617809295654297

In [10]:
candidates_pd

,query,pred_score,1-pred_score,faiss_distance,cosine_dist,candidate_original_ids,query_original_id,num_all_searches
id,,,,,,,,
0,london,"{'Greater London': 0.5087, 'Midlothian': 0.643...","{'Greater London': 0.49129999999999996, 'Midlo...","{'Greater London': 15.0297, 'Midlothian': 19.0...","{'Greater London': 0.329, 'Midlothian': 0.4884...","{'Greater London': 14, 'Midlothian': 74, 'Devo...",0,5
1,S. Ayrshire,"{'South Ayrshire': 0.8688, 'East Ayrshire': 0....","{'South Ayrshire': 0.13119999999999998, 'East ...","{'South Ayrshire': 3.3435, 'East Ayrshire': 5....","{'South Ayrshire': 0.0508, 'East Ayrshire': 0....","{'South Ayrshire': 83, 'East Ayrshire': 64, 'S...",1,5