# Demo2

## Train a new model

In [1]:
from DeezyMatch import train as dm_train

# train a new model
dm_train(input_file_path="./inputs/input_dfm_demo2.yaml", 
         dataset_path="../../dataset/BL_IAMS_geonames.tsv",
         model_name="BL_model")

2020-12-07 09:37:14 MAC-ATI0414 [INFO] read input file: ./inputs/input_dfm_demo2.yaml
2020-12-07 09:37:14 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:37:14 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 09:37:14 MAC-ATI0414 [INFO] read CSV file: ../../dataset/BL_IAMS_geonames.tsv
2020-12-07 09:37:14 MAC-ATI0414 [INFO] number of labels, True: 9532 and False: 9135
2020-12-07 09:37:14 MAC-ATI0414 [INFO] Splitting the Dataset
2020-12-07 09:37:14 MAC-ATI0414 [INFO] finish splitting the Dataset. User time: 0.01949167251586914
2020-12-07 09:37:14 MAC-ATI0414 [INFO] splits are as follow:
train    14933
val       3733
test         1
Name: split, dtype: int64
2020-12-07 09:37:14 MAC-ATI0414 [INFO] start creating a lookup table and convert characters to indices
2020-12-07 09:37:14 MAC-ATI0414 [INFO] -- create vocabulary

s2 padding:   0%|          | 0/14933 [00:00<?, ?it/s]

2020-12-07 09:37:14 MAC-ATI0414 [INFO] -- convert tokens to indices
2020-12-07 09:37:14 MAC-ATI0414 [INFO] -- create a lookup table for tokens
2020-12-07 09:37:14 MAC-ATI0414 [INFO] -- read list of characters from ../../dataset/characters_v001.vocab
2020-12-07 09:37:14 MAC-ATI0414 [INFO] -- Length of vocabulary: 7543

2020-12-07 09:37:15 MAC-ATI0414 [INFO] ******************************
2020-12-07 09:37:15 MAC-ATI0414 [INFO] **** (Bi-directional) GRU ****
2020-12-07 09:37:15 MAC-ATI0414 [INFO] ******************************
2020-12-07 09:37:15 MAC-ATI0414 [INFO] read inputs
2020-12-07 09:37:15 MAC-ATI0414 [INFO] create a two_parallel_rnns model
2020-12-07 09:37:15 MAC-ATI0414 [INFO] start fitting parameters
2020-12-07 09:37:15 MAC-ATI0414 [INFO] Number of batches: 467
2020-12-07 09:37:15 MAC-ATI0414 [INFO] Number of epochs: 5

HBox(children=(FloatProgress(value=0.0, max=5.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=467.0), HTML(value='')))

====================
Total number of params: 627303

two_parallel_rnns (
  (emb): Embedding(7543, 60), weights=((7543, 60),), parameters=452580
  (rnn_1): GRU(60, 60, num_layers=2, dropout=0.01, bidirectional=True), weights=((180, 60), (180, 60), (180,), (180,), (180, 60), (180, 60), (180,), (180,), (180, 120), (180, 60), (180,), (180,), (180, 120), (180, 60), (180,), (180,)), parameters=109440
  (attn_step1): Linear(in_features=120, out_features=60, bias=True), weights=((60, 120), (60,)), parameters=7260
  (attn_step2): Linear(in_features=60, out_features=1, bias=True), weights=((1, 60), (1,)), parameters=61
  (fc1): Linear(in_features=480, out_features=120, bias=True), weights=((120, 480), (120,)), parameters=57720
  (fc2): Linear(in_features=120, out_features=2, bias=True), weights=((2, 120), (2,)), parameters=242
)
====================


2020-12-07 09:38:04 MAC-ATI0414 [INFO] 12/07/2020_09:38:04 -- Epoch: 1/5; Train; loss: 0.197; acc: 0.918; precision: 0.906, recall: 0.937, macrof1: 0.918, weightedf1: 0.918

HBox(children=(FloatProgress(value=0.0, max=117.0), HTML(value='')))

2020-12-07 09:38:06 MAC-ATI0414 [INFO] 12/07/2020_09:38:06 -- Epoch: 1/5; Valid; loss: 1.168; acc: 0.717; precision: 0.648, recall: 0.975, macrof1: 0.693, weightedf1: 0.695
2020-12-07 09:38:06 MAC-ATI0414 [INFO] saving the model

HBox(children=(FloatProgress(value=0.0, max=467.0), HTML(value='')))

2020-12-07 09:38:56 MAC-ATI0414 [INFO] 12/07/2020_09:38:56 -- Epoch: 2/5; Train; loss: 0.065; acc: 0.982; precision: 0.989, recall: 0.977, macrof1: 0.982, weightedf1: 0.982

HBox(children=(FloatProgress(value=0.0, max=117.0), HTML(value='')))

2020-12-07 09:38:58 MAC-ATI0414 [INFO] 12/07/2020_09:38:58 -- Epoch: 2/5; Valid; loss: 0.758; acc: 0.783; precision: 0.712, recall: 0.966, macrof1: 0.774, weightedf1: 0.775
2020-12-07 09:38:58 MAC-ATI0414 [INFO] saving the model

HBox(children=(FloatProgress(value=0.0, max=467.0), HTML(value='')))

2020-12-07 09:39:46 MAC-ATI0414 [INFO] 12/07/2020_09:39:46 -- Epoch: 3/5; Train; loss: 0.049; acc: 0.987; precision: 0.992, recall: 0.983, macrof1: 0.987, weightedf1: 0.987

HBox(children=(FloatProgress(value=0.0, max=117.0), HTML(value='')))

2020-12-07 09:39:48 MAC-ATI0414 [INFO] 12/07/2020_09:39:48 -- Epoch: 3/5; Valid; loss: 1.643; acc: 0.690; precision: 0.626, recall: 0.974, macrof1: 0.658, weightedf1: 0.661
2020-12-07 09:39:48 MAC-ATI0414 [INFO] saving the model (early stopped) with least valid loss (checkpoint: 2) at ./models/BL_model/BL_model.model
2020-12-07 09:39:48 MAC-ATI0414 [INFO] saving the model
2020-12-07 09:39:48 MAC-ATI0414 [INFO] Early stopping at epoch: 3, selected epoch: 2




====================
User time: 153.4943
====================

## Finetune a pretrained model

In [2]:
# from DeezyMatch import finetune as dm_finetune

# # fine-tune a pretrained model stored at pretrained_model_path and pretrained_vocab_path 
# dm_finetune(input_file_path="./inputs/input_dfm_demo2.yaml", 
#             dataset_path="../../dataset/BL_IAMS_geonames.tsv", 
#             model_name="ft_BL_model",
#             pretrained_model_path="./models/BL_model/BL_model.model", 
#             pretrained_vocab_path="./models/BL_model/BL_model.vocab")

## Model inference

In [3]:
from DeezyMatch import inference as dm_inference

# model inference using a model stored at pretrained_model_path and pretrained_vocab_path 
dm_inference(input_file_path="./inputs/input_dfm_demo2.yaml",
             dataset_path="../../dataset/BL_IAMS_geonames.tsv", 
             pretrained_model_path="./models/BL_model/BL_model.model", 
             pretrained_vocab_path="./models/BL_model/BL_model.vocab")

2020-12-07 09:40:35 MAC-ATI0414 [INFO] read input file: ./inputs/input_dfm_demo2.yaml
2020-12-07 09:40:35 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:40:35 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 09:40:35 MAC-ATI0414 [INFO] read CSV file: ../../dataset/BL_IAMS_geonames.tsv
2020-12-07 09:40:35 MAC-ATI0414 [INFO] number of labels, True: 9532 and False: 9135

s2 padding:   0%|          | 0/18667 [00:00<?, ?it/s]

2020-12-07 09:40:35 MAC-ATI0414 [INFO] skipping 0 lines

HBox(children=(FloatProgress(value=0.0, max=584.0), HTML(value='')))

2020-12-07 09:40:45 MAC-ATI0414 [INFO] 12/07/2020_09:40:45 -- Epoch: 0/0; Test; loss: 0.195; acc: 0.945; precision: 0.920, recall: 0.977, macrof1: 0.945, weightedf1: 0.945
--- 9.397141933441162 seconds ---

## Generate query vectors

In [4]:
from DeezyMatch import inference as dm_inference

# generate vectors for queries (specified in dataset_path) 
# using a model stored at pretrained_model_path and pretrained_vocab_path 
dm_inference(input_file_path="./inputs/input_dfm_demo2.yaml",
            dataset_path="../../query_scenarios/ukcounties_queries.txt", 
            pretrained_model_path="./models/BL_model/BL_model.model", 
            pretrained_vocab_path="./models/BL_model/BL_model.vocab",
            inference_mode="vect",
            scenario="queries/demo2")

2020-12-07 09:40:56 MAC-ATI0414 [INFO] read input file: ./inputs/input_dfm_demo2.yaml
2020-12-07 09:40:57 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:40:57 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 09:40:57 MAC-ATI0414 [INFO] read CSV file: ../../query_scenarios/ukcounties_queries.txt
2020-12-07 09:40:57 MAC-ATI0414 [INFO] number of labels, True: 0 and False: 35
2020-12-07 09:40:57 MAC-ATI0414 [INFO] skipping 0 lines
2020-12-07 09:40:57 MAC-ATI0414 [INFO] save test-data-class: /Users/khosseini/myJobs/ATI/Projects/2019/LaNC-workshop/deezymatch/demos/demo2_toy_dataset/queries/demo2/dataframe.df

HBox(children=(FloatProgress(value=0.0, max=2.0), HTML(value='')))

--- 0.09249496459960938 seconds ---

## Generate candidate vectors

In [5]:
from DeezyMatch import inference as dm_inference

# generate vectors for candidates (specified in dataset_path) 
# using a model stored at pretrained_model_path and pretrained_vocab_path 
dm_inference(input_file_path="./inputs/input_dfm_demo2.yaml",
            dataset_path="../../candidate_scenarios/ukcounties_candidates.txt", 
            pretrained_model_path="./models/BL_model/BL_model.model", 
            pretrained_vocab_path="./models/BL_model/BL_model.vocab",
            inference_mode="vect",
            scenario="candidates/demo2")

2020-12-07 09:41:06 MAC-ATI0414 [INFO] read input file: ./inputs/input_dfm_demo2.yaml
2020-12-07 09:41:06 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:41:06 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 09:41:06 MAC-ATI0414 [INFO] read CSV file: ../../candidate_scenarios/ukcounties_candidates.txt
2020-12-07 09:41:06 MAC-ATI0414 [INFO] number of labels, True: 0 and False: 94
2020-12-07 09:41:06 MAC-ATI0414 [INFO] skipping 0 lines
2020-12-07 09:41:06 MAC-ATI0414 [INFO] save test-data-class: /Users/khosseini/myJobs/ATI/Projects/2019/LaNC-workshop/deezymatch/demos/demo2_toy_dataset/candidates/demo2/dataframe.df

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

--- 0.10760092735290527 seconds ---

## Assembling queries vector representations

In [6]:
from DeezyMatch import combine_vecs

# combine vectors stored in queries/test and save them in combined/queries_test
combine_vecs(rnn_passes=['fwd', 'bwd'], 
             input_scenario='queries/demo2', 
             output_scenario='combined/queries_demo2', 
             print_every=10)

2020-12-07 09:41:14 MAC-ATI0414 [INFO] read input file: queries/demo2/input_dfm_demo2.yaml
2020-12-07 09:41:14 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:41:14 MAC-ATI0414 [INFO] pytorch will use: cpu


-- Combine vectors
Reading vectors from queries/demo2/embeddings/rnn_fwd*
0000000 queries/demo2/embeddings/rnn_fwd_0


-- Combine IDs
0000000 queries/demo2/embeddings/rnn_indxs_0



-- Combine vectors
Reading vectors from queries/demo2/embeddings/rnn_bwd*
0000000 queries/demo2/embeddings/rnn_bwd_0


-- Combine IDs
0000000 queries/demo2/embeddings/rnn_indxs_0

--- 239.859530210495 seconds ---

## Assembling candidates vector representations

In [7]:
from DeezyMatch import combine_vecs

# combine vectors stored in candidates/test and save them in combined/candidates_test
combine_vecs(rnn_passes=['fwd', 'bwd'], 
             input_scenario='candidates/demo2', 
             output_scenario='combined/candidates_demo2', 
             print_every=10)

2020-12-07 09:41:15 MAC-ATI0414 [INFO] read input file: candidates/demo2/input_dfm_demo2.yaml
2020-12-07 09:41:15 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:41:15 MAC-ATI0414 [INFO] pytorch will use: cpu


-- Combine vectors
Reading vectors from candidates/demo2/embeddings/rnn_fwd*
0000000 candidates/demo2/embeddings/rnn_fwd_0


-- Combine IDs
0000000 candidates/demo2/embeddings/rnn_indxs_0



-- Combine vectors
Reading vectors from candidates/demo2/embeddings/rnn_bwd*
0000000 candidates/demo2/embeddings/rnn_bwd_0


-- Combine IDs
0000000 candidates/demo2/embeddings/rnn_indxs_0

--- 240.6270911693573 seconds ---

## Candidate Ranker

In [8]:
from DeezyMatch import candidate_ranker

# Select candidates based on L2-norm distance (aka faiss distance):
# find candidates from candidate_scenario 
# for queries specified in query_scenario
candidates_pd = \
    candidate_ranker(query_scenario="./combined/queries_demo2",
                     candidate_scenario="./combined/candidates_demo2", 
                     ranking_metric="faiss", 
                     selection_threshold=100., 
                     num_candidates=5, 
                     search_size=5, 
                     output_path="ranker_results/candidates_deezymatch_demo2", 
                     pretrained_model_path="./models/BL_model/BL_model.model", 
                     pretrained_vocab_path="./models/BL_model/BL_model.vocab")

2020-12-07 09:41:20 MAC-ATI0414 [INFO] read input file: ./combined/candidates_demo2/input_dfm_demo2.yaml
2020-12-07 09:41:20 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:41:20 MAC-ATI0414 [INFO] pytorch will use: cpu
Is faiss_id_candis already trained? True
=========== Start the search for 0 E Ayrshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 1/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 1 North Lanarcshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 2/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 2

 N. Yorksh

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 3/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 3 N.amptonshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 4/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 4 Northumbld

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 5/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 5 Northumberl

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 6/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 6 Nottingham shire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 7/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 7 Orkneys

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 8/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 8 Pembrockshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 9/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 9 Perth&Kinross

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 10/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 10 Perth-Kinross

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 11/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 11 Kinross

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 12/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 12 Radnorshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 13/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 13 Renfrew

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 14/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 14 Scot. Borders

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 15/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 15 Shetlands

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 16/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 16 Shrops

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 17/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 17 SOMERSUTSIIIIE

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 18/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 18 S Ayrshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 19/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 19 S. Lanarkshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 20/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 20 South Yorkshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 21/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 21 Staffordshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 22/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 22 Sterling

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 23/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 23 Suffolk

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 24/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 24 Suff

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 25/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 25 Surrey

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 26/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 26 Surr

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 27/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 27 Tyne & Wear

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 28/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 28 Tyron

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 29/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 29 Warwicksh

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 30/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 30 W Berkshire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 31/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 31 Wiltsh

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 32/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 32 Worchestershire

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 33/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 33 Worcs

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 34/35 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 34 Tyne

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 35/35 -- Number of found candidates so far: 5, searched: 5
TOTAL TIME: 2.6396830081939697

In [9]:
candidates_pd

,query,pred_score,1-pred_score,faiss_distance,cosine_dist,candidate_original_ids,query_original_id,num_all_searches
id,,,,,,,,
0,E Ayrshire,"{'Eilean Siar': 0.7194, 'Pembrokeshire': 0.539...","{'Eilean Siar': 0.28059999999999996, 'Pembroke...","{'Eilean Siar': 13.675, 'Pembrokeshire': 17.34...","{'Eilean Siar': 0.4136, 'Pembrokeshire': 0.462...","{'Eilean Siar': 68, 'Pembrokeshire': 48, 'East...",0,5
1,North Lanarcshire,"{'North Lanarkshire': 0.9899, 'North Ayrshire'...","{'North Lanarkshire': 0.010099999999999998, 'N...","{'North Lanarkshire': 0.1857, 'North Ayrshire'...","{'North Lanarkshire': 0.004, 'North Ayrshire':...","{'North Lanarkshire': 77, 'North Ayrshire': 76...",1,5
2,N. Yorksh,"{'North Yorkshire': 0.9864, 'Oxfordshire': 0.9...","{'North Yorkshire': 0.013599999999999945, 'Oxf...","{'North Yorkshire': 7.6954, 'Oxfordshire': 9.4...","{'North Yorkshire': 0.126, 'Oxfordshire': 0.16...","{'North Yorkshire': 24, 'Oxfordshire': 28, 'No...",2,5
3,N.amptonshire,"{'Northamptonshire': 0.9931, 'Pembrokeshire': ...","{'Northamptonshire': 0.006900000000000017, 'Pe...","{'Northamptonshire': 2.558, 'Pembrokeshire': 2...","{'Northamptonshire': 0.0537, 'Pembrokeshire': ...","{'Northamptonshire': 25, 'Pembrokeshire': 48, ...",3,5
4,Northumbld,"{'Northumberland': 0.9903, 'Fermanagh': 0.9826...","{'Northumberland': 0.009700000000000042, 'Ferm...","{'Northumberland': 1.6716, 'Fermanagh': 11.603...","{'Northumberland': 0.0249, 'Fermanagh': 0.1883...","{'Northumberland': 26, 'Fermanagh': 91, 'Orkne...",4,5
5,Northumberl,"{'Northumberland': 0.9959, 'North Ayrshire': 0...","{'Northumberland': 0.0040999999999999925, 'Nor...","{'Northumberland': 4.9383, 'North Ayrshire': 6...","{'Northumberland': 0.0824, 'North Ayrshire': 0...","{'Northumberland': 26, 'North Ayrshire': 76, '...",5,5
6,Nottingham shire,"{'Nottinghamshire': 0.9908, 'North Ayrshire': ...","{'Nottinghamshire': 0.009199999999999986, 'Nor...","{'Nottinghamshire': 0.1109, 'North Ayrshire': ...","{'Nottinghamshire': 0.0025, 'North Ayrshire': ...","{'Nottinghamshire': 27, 'North Ayrshire': 76, ...",6,5
7,Orkneys,"{'Renfrewshire': 0.9978, 'Oxfordshire': 0.9989...","{'Renfrewshire': 0.0021999999999999797, 'Oxfor...","{'Renfrewshire': 7.6993, 'Oxfordshire': 8.4693...","{'Renfrewshire': 0.1478, 'Oxfordshire': 0.1603...","{'Renfrewshire': 80, 'Oxfordshire': 28, 'Moray...",7,5
8,Pembrockshire,"{'Pembrokeshire': 0.9907, 'North Ayrshire': 0....","{'Pembrokeshire': 0.009299999999999975, 'North...","{'Pembrokeshire': 0.0954, 'North Ayrshire': 3....","{'Pembrokeshire': 0.002, 'North Ayrshire': 0.0...","{'Pembrokeshire': 48, 'North Ayrshire': 76, 'N...",8,5
9,Perth&Kinross,"{'Perth and Kinross': 0.9958, 'Pembrokeshire':...","{'Perth and Kinross': 0.0041999999999999815, '...","{'Perth and Kinross': 1.8524, 'Pembrokeshire':...","{'Perth and Kinross': 0.0351, 'Pembrokeshire':...","{'Perth and Kinross': 79, 'Pembrokeshire': 48,...",9,5
10,Perth-Kinross,"{'Perth and Kinross': 0.9958, 'Norfolk': 0.965...","{'Perth and Kinross': 0.0041999999999999815, '...","{'Perth and Kinross': 1.8967, 'Norfolk': 9.634...","{'Perth and Kinross': 0.0351, 'Norfolk': 0.171...","{'Perth and Kinross': 79, 'Norfolk': 23, 'Pemb...",10,5
11,Kinross,"{'Surrey': 0.9909, 'Kent': 0.9403, 'South York...","{'Surrey': 0.009099999999999997, 'Kent': 0.059...","{'Surrey': 12.4705, 'Kent': 13.4711, 'South Yo...","{'Surrey': 0.29, 'Kent': 0.3855, 'South Yorksh...","{'Surrey': 34, 'Kent': 18, 'South Yorkshire': ...",11,5
12,Radnorshire,"{'Radnorshire': 0.9956, 'Pembrokeshire': 0.997...","{'Radnorshire': 0.0043999999999999595, 'Pembro...","{'Radnorshire': 0.0, 'Pembrokeshire': 3.6471, ...","{'Radnorshire': 0.0, 'Pembrokeshire': 0.072, '...","{'Radnorshire': 49, 'Pembrokeshire': 48, 'Falk...",12,5
13,Renfrew,"{'Renfrewshire': 0.9979, 'Tyrone': 0.9952, 'No...","{'Renfrewshire': 0.0020999999999999908, 'Tyron...","{'Renfrewshire': 5.5945, 'Tyrone': 6.966, 'Nor...","{'Renfrewshire': 0.119, 'Tyrone': 0.1186, 'Nor...","{'Renfrewshire': 80, 'Tyrone': 93, 'Norfolk': ...",13,5
14,Scot. Borders,"{'Scottish Borders': 0.9932, 'Shetland Islands...","{'Scottish Borders': 0.006800000000000028, 'Sh...","{'Scottish Borders': 0.2031, 'Shetland Islands...","{'Scottish Borders': 0.0027, 'Shetland Islands...","{'Scottish Borders': 81, 'Shetland Islands': 8...",14,5
15,Shetlands,"{'Shetland Islands': 0.9942, 'Scottish Borders...","{'Shetland Islands': 0.005800000000000027, 'Sc...","{'Shetland Islands': 0.7516, 'Scottish Borders...","{'Shetland Islands': 0.0101, 'Scottish Borders...","{'Shetland Islands': 82, 'Scottish Borders': 8...",15,5
16,Shrops,"{'Somerset': 0.9978, 'Shropshire': 0.9938, 'Pe...","{'Somerset': 0.0021999999999999797, 'Shropshir...","{'Somerset': 5.3141, 'Shropshire': 6.3937, 'Pe...","{'Somerset': 0.1096, 'Shropshire': 0.1375, 'Pe...","{'Somerset': 30, 'Shropshire': 29, 'Perth and ...",16,5
17,SOMERSUTSIIIIE,"{'Tyrone': 0.9768, 'Fife': 0.9909, 'Renfrewshi...","{'Tyrone': 0.0232, 'Fife': 0.00909999999999999...","{'Tyrone': 9.5495, 'Fife': 12.7961, 'Renfrewsh...","{'Tyrone': 0.1615, 'Fife': 0.2615, 'Renfrewshi...","{'Tyrone': 93, 'Fife': 70, 'Renfrewshire': 80,...",17,5
18,S Ayrshire,"{'South Ayrshire': 0.9919, 'South Lanarkshire'...","{'South Ayrshire': 0.008099999999999996, 'Sout...","{'South Ayrshire': 3.5248, 'South Lanarkshire'...","{'South Ayrshire': 0.1071, 'South Lanarkshire'...","{'South Ayrshire': 83, 'South Lanarkshire': 84...",18,5
19,S. Lanarkshire,"{'South Lanarkshire': 0.9812, 'Staffordshire':...","{'South Lanarkshire': 0.01880000000000004, 'St...","{'South Lanarkshire': 8.0286, 'Staffordshire':...","{'South Lanarkshire': 0.2197, 'Staffordshire':...","{'South Lanarkshire': 84, 'Staffordshire': 32,...",19,5
20,South Yorkshire,"{'South Yorkshire': 0.9926, 'South Lanarkshire...","{'South Yorkshire': 0.007399999999999962, 'Sou...","{'South Yorkshire': 0.0, 'South Lanarkshire': ...","{'South Yorkshire': 0.0, 'South Lanarkshire': ...","{'South Yorkshire': 31, 'South Lanarkshire': 8...",20,5
21,Staffordshire,"{'Staffordshire': 0.942, 'Eilean Siar': 0.3092...","{'Staffordshire': 0.05800000000000005, 'Eilean...","{'Staffordshire': 0.0, 'Eilean Siar': 9.9669, ...","{'Staffordshire': 0.0, 'Eilean Siar': 0.2107, ...","{'Staffordshire': 32, 'Eilean Siar': 68, 'Suff...",21,5
22,Sterling,"{'Stirling': 0.9803, 'Staffordshire': 0.9095, ...","{'Stirling': 0.01970000000000005, 'Staffordshi...","{'Stirling': 2.4107, 'Staffordshire': 11.4084,...","{'Stirling': 0.0446, 'Staffordshire': 0.2278, ...","{'Stirling': 85, 'Staffordshire': 32, 'Eilean ...",22,5
23,Suffolk,"{'Suffolk': 0.9934, 'Surrey': 0.9893, 'South L...","{'Suffolk': 0.00660000000000005, 'Surrey': 0.0...","{'Suffolk': 0.0, 'Surrey': 7.1292, 'South Lana...","{'Suffolk': 0.0, 'Surrey': 0.1576, 'South Lana...","{'Suffolk': 33, 'Surrey': 34, 'South Lanarkshi...",23,5
24,Suff,"{'Suffolk': 0.988, 'Surrey': 0.9796, 'South La...","{'Suffolk': 0.01200000000000001, 'Surrey': 0.0...","{'Suffolk': 4.0392, 'Surrey': 4.9928, 'South L...","{'Suffolk': 0.0872, 'Surrey': 0.1062, 'South L...","{'Suffolk': 33, 'Surrey': 34, 'South Lanarkshi...",24,5
25,Surrey,"{'Surrey': 0.9967, 'South Yorkshire': 0.9924, ...","{'Surrey': 0.0032999999999999696, 'South Yorks...","{'Surrey': 0.0, 'South Yorkshire': 5.5817, 'So...","{'Surrey': 0.0, 'South Yorkshire': 0.1283, 'So...","{'Surrey': 34, 'South Yorkshire': 31, 'South A...",25,5
26,Surr,"{'Surrey': 0.9965, 'South Yorkshire': 0.9968, ...","{'Surrey': 0.0034999999999999476, 'South Yorks...","{'Surrey': 4.1421, 'South Yorkshire': 6.5809, ...","{'Surrey': 0.0877, 'South Yorkshire': 0.147, '...","{'Surrey': 34, 'South Yorkshire': 31, 'South L...",26,5
27,Tyne & Wear,"{'Northamptonshire': 0.9914, 'North Lanarkshir...","{'Northamptonshire': 0.008600000000000052, 'No...","{'Northamptonshire': 4.4946, 'North Lanarkshir...","{'Northamptonshire': 0.0992, 'North Lanarkshir...","{'Northamptonshire': 25, 'North Lanarkshire': ...",27,5
28,Tyron,"{'Tyrone': 0.9979, 'Norfolk': 0.9885, 'Northam...","{'Tyrone': 0.0020999999999999908, 'Norfolk': 0...","{'Tyrone': 0.7807, 'Norfolk': 11.4744, 'Northa...","{'Tyrone': 0.0126, 'Norfolk': 0.1922, 'Northam...","{'Tyrone': 93, 'Norfolk': 23, 'Northamptonshir...",28,5
29,Warwicksh,"{'Warwickshire': 0.9907, 'Wiltshire': 0.9969, ...","{'Warwickshire': 0.009299999999999975, 'Wiltsh...","{'Warwickshire': 8.6173, 'Wiltshire': 14.4939,...","{'Warwickshire': 0.1743, 'Wiltshire': 0.2877, ...","{'Warwickshire': 36, 'Wiltshire': 41, 'Scottis...",29,5
30,W Berkshire,"{'Warwickshire': 0.9841, 'Worcestershire': 0.9...","{'Warwickshire': 0.015900000000000025, 'Worces...","{'Warwickshire': 5.9148, 'Worcestershire': 9.8...","{'Warwickshire': 0.1534, 'Worcestershire': 0.2...","{'Warwickshire': 36, 'Worcestershire': 42, 'Gl...",30,5
31,Wiltsh,"{'Wiltshire': 0.9946, 'Scottish Borders': 0.99...","{'Wiltshire': 0.00539999999999996, 'Scottish B...","{'Wiltshire': 9.1789, 'Scottish Borders': 12.9...","{'Wiltshire': 0.1598, 'Scottish Borders': 0.20...","{'Wiltshire': 41, 'Scottish Borders': 81, 'Sur...",31,5
32,Worchestershire,"{'Worcestershire': 0.9984, 'Oxfordshire': 0.99...","{'Worcestershire': 0.0016000000000000458, 'Oxf...","{'Worcestershire': 0.4978, 'Oxfordshire': 4.45...","{'Worcestershire': 0.0099, 'Oxfordshire': 0.09...","{'Worcestershire': 42, 'Oxfordshire': 28, 'Ren...",32,5
33,Worcs,"{'Worcestershire': 0.9983, 'Oxfordshire': 0.99...","{'Worcestershire': 0.0017000000000000348, 'Oxf...","{'Worcestershire': 6.9262, 'Oxfordshire': 10.8...","{'Worcestershire': 0.1327, 'Oxfordshire': 0.20...","{'Worcestershire': 42, 'Oxfordshire': 28, 'Ren...",33,5
34,Tyne,"{'Northamptonshire': 0.9894, 'Tyrone': 0.9854,...","{'Northamptonshire': 0.010600000000000054, 'Ty...","{'Northamptonshire': 4.7918, 'Tyrone': 4.8728,...","{'Northamptonshire': 0.1059, 'Tyrone': 0.0794,...","{'Northamptonshire': 25, 'Tyrone': 93, 'Fife':...",34,5

## Candidate ranking on-the-fly

In [10]:
from DeezyMatch import candidate_ranker

# Ranking on-the-fly
# find candidates from candidate_scenario 
# for queries specified by the `query` argument
candidates_pd = \
    candidate_ranker(query=["lincoln", "warwick", "warwickz"],
                     candidate_scenario="./combined/candidates_demo2", 
                     ranking_metric="faiss", 
                     selection_threshold=100., 
                     num_candidates=5, 
                     search_size=5, 
                     output_path="ranker_results/candidates_deezymatch_demo2", 
                     pretrained_model_path="./models/BL_model/BL_model.model", 
                     pretrained_vocab_path="./models/BL_model/BL_model.vocab")

2020-12-07 09:41:41 MAC-ATI0414 [INFO] read input file: ./combined/candidates_demo2/input_dfm_demo2.yaml
2020-12-07 09:41:41 MAC-ATI0414 [INFO] GPU was requested but not available.
2020-12-07 09:41:41 MAC-ATI0414 [INFO] pytorch will use: cpu
2020-12-07 09:41:41 MAC-ATI0414 [INFO] save test-data-class: tmp_561a9e10-cce8-490b-b8d6-3fc0f3c36bd1/query/dataframe.df

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

-- Combine vectors
Reading vectors from tmp_561a9e10-cce8-490b-b8d6-3fc0f3c36bd1/query/embeddings/rnn_fwd*
0000000 tmp_561a9e10-cce8-490b-b8d6-3fc0f3c36bd1/query/embeddings/rnn_fwd_0


-- Combine IDs
0000000 tmp_561a9e10-cce8-490b-b8d6-3fc0f3c36bd1/query/embeddings/rnn_indxs_0



-- Combine vectors
Reading vectors from tmp_561a9e10-cce8-490b-b8d6-3fc0f3c36bd1/query/embeddings/rnn_bwd*
0000000 tmp_561a9e10-cce8-490b-b8d6-3fc0f3c36bd1/query/embeddings/rnn_bwd_0


-- Combine IDs
0000000 tmp_561a9e10-cce8-490b-b8d6-3fc0f3c36bd1/query/embeddings/rnn_indxs_0

--- 266.55969405174255 seconds ---
Is faiss_id_candis already trained? True
=========== Start the search for 0 lincoln

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 1/3 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 1 warwick

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 2/3 -- Number of found candidates so far: 5, searched: 5
=========== Start the search for 2 warwickz

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

ID: 3/3 -- Number of found candidates so far: 5, searched: 5
TOTAL TIME: 0.33826494216918945

In [11]:
candidates_pd

,query,pred_score,1-pred_score,faiss_distance,cosine_dist,candidate_original_ids,query_original_id,num_all_searches
id,,,,,,,,
0,lincoln,"{'Lincolnshire': 0.9974, 'Clackmannanshire': 0...","{'Lincolnshire': 0.0026000000000000467, 'Clack...","{'Lincolnshire': 7.1052, 'Clackmannanshire': 1...","{'Lincolnshire': 0.1034, 'Clackmannanshire': 0...","{'Lincolnshire': 21, 'Clackmannanshire': 61, '...",0,5
1,warwick,"{'Warwickshire': 0.9976, 'Wiltshire': 0.9985, ...","{'Warwickshire': 0.0023999999999999577, 'Wilts...","{'Warwickshire': 5.7448, 'Wiltshire': 13.742, ...","{'Warwickshire': 0.1339, 'Wiltshire': 0.3037, ...","{'Warwickshire': 36, 'Wiltshire': 41, 'Falkirk...",1,5
2,warwickz,"{'Warwickshire': 0.9967, 'Wiltshire': 0.9983, ...","{'Warwickshire': 0.0032999999999999696, 'Wilts...","{'Warwickshire': 5.0446, 'Wiltshire': 12.6466,...","{'Warwickshire': 0.1208, 'Wiltshire': 0.2853, ...","{'Warwickshire': 36, 'Wiltshire': 41, 'Flintsh...",2,5